<!DOCTYPE html>
<html >
    <head>
  <meta charset="utf-8">
  <meta name=viewport content="width=device-width, initial-scale=1">
  <title>Invoice-Home</title>
  <link rel="stylesheet" href="css/main-page.css">
  <!-- Link to hosted MDL -->
  <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.indigo-pink.min.css">
  <script src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>
  <div class="mdl-layout mdl-js-layout mdl-color--red-100 mdl-base" ng-app="MyApp" ng-controller="MainCtrl">
    <div id="header-container">
      <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--red-700">
        <div class="mdl-layout--large-screen-only mdl-layout__header-row">
        </div>
        <div class="mdl-layout--large-screen-only mdl-ayout__header-row">
          <h2>
            Invoice System
            <a class= "mdl-button mdl-button--accent mdl-js-button mdl-button--raised mdl-js-ripple-effect" id= "logout-button" href='login.html'>
              Logout
            </a>
            </h3>
          
        </div>
      </header>
    </div>
    <div class= "mdl-card mdl-shadow--6dp" id= "invoices-card">
      <div class= "mdl-card__title mdl-card--expand mdl-color--red-500 mdl-color-text--white" id="invoices-area">
        <h4 class= "mdl-card__title-text">
          Invoices   
          <button id="table-toggle" class="mdl-button mdl-js-button mdl-button--icon">
            <i class="material-icons">add</i>
          </button></h4>
      </div>
      <div class= "mdl-card__actions">
        <div id="invoice-table">
          <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" id="itable">
            <thead>
              <th>
                 <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-data-table__select" for="invoice-table-header">
                  <input type="checkbox" id="invoice-table-header" class="mdl-checkbox__input" />
                </label>
              </th>
              <th class="mdl-data-table__header--sorted-ascending">Invoice Number</th>
              <th class="mdl-data-table__cell--non-numeric">Customer</th>
              <th>Date</th>
              <th>Total (USD)</th>
            </thead>
            <tbody>
              <tr ng-repeat="invoice in invoices">
                <td>
                  <label class="invoice-checks mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-data-table__select">
                    <input type="checkbox" class="mdl-checkbox__input"/>
                  </label>
                </td>
                <td class="mdl-data-table__cell--non-numeric">{{invoice.number}}</td>
                <td>{{invoice.customer}}</td>
                <td>{{invoice.date}}</td>
                <td>{{invoice.total}}</td>
              </tr>
            </tbody>
          </table>
          <div class= "mdl-card--border">
            <button class= "mdl-button mdl-button--accent mdl-js-button mdl=button--raised mdl-js-ripple-effect" id= "delete-invoice">
              Delete
            </button>
            <a class= "mdl-button mdl-button--accent mdl-js-button mdl=button--raised mdl-js-ripple-effect" id= "edit-invoice" href='create-invoice.html'>
              Edit
            </a>
          </div>
        </div>
      </div>
       <div class= "mdl-card__title mdl-card--expand mdl-color--red-500 mdl-color-text--white" id="invoices-area">
        <h4 class= "mdl-card__title-text">
          Products   
          <button id="products-table-toggle" class="mdl-button mdl-js-button mdl-button--icon">
            <i class="material-icons">add</i>
          </button></h4>
      </div>
     <div class= "mdl-card__actions">
        <div id="products-table">
          <table id="ptable" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
            <thead>
              <th>
                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-data-table__select" for="table-header">
                  <input type="checkbox" id="table-header" class="mdl-checkbox__input"/>
                </label>
              </th>
              <th>Product ID</th>
              <th>Name</th>
              <th>Default Price (USD)</th>
            </thead>
            <tbody>
              <tr ng-repeat="product in products">
                <td>
                  <label class="product-checks mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-data-table__select">
                    <input type="checkbox" class="mdl-checkbox__input"/>
                  </label>
                </td>
                <td>
                  {{product.number}}
                </td>
                <td>
                  {{product.name}}
                </td>
                <td>
                  {{product.defaultPrice}}
                </td>
              </tr>
            </tbody>
          </table>
          <div class= "mdl-card--border">
            <button class= "mdl-button mdl-button--accent mdl-js-button mdl=button--raised mdl-js-ripple-effect" id= "delete-product">
              Delete
            </button>
            <a class= "mdl-button mdl-button--accent mdl-js-button mdl=button--raised mdl-js-ripple-effect" id= "edit-product" href='add-product.html'>
              Edit
            </a>
          </div>
      </div>
      
    </div>
      <div class="mdl-card__actions mdl-card--border">
        <a class= "mdl-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id= "create-invoice" href='create-invoice.html'>
          Create Invoice
          </a>
        <a class= "mdl-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id= "add-product" href='add-product.html'>
          Add Product
          </a>
      </div>
  </div>   
      <!-- Angular Material requires Angular.js Libraries -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
      <!-- Angular Material Library -->
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
   <script src="js/main-page.js"></script>

</body>
</html>
